* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

button {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    background: #d4d4d2;
    box-shadow: 9px 9px 18px #b4b4b3,
        -9px -9px 18px #f4f4f2;

    &:hover {
        background: linear-gradient(145deg, #bfbfbd, #e3e3e1);
        box-shadow: 9px 9px 18px #b4b4b3,
            -9px -9px 18px #f4f4f2;
    }

    &.equal {
        width: 98%;
        height: 60px;
        border-radius: 1.5rem;
        grid-column: span 2;
    }
}

.container {

    background-color: #d4d4d2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-wrapper {
        padding: 1.5rem 1.5rem 2rem;
        border-radius: 1.5rem;
        background: linear-gradient(145deg, #e3e3e1, #bfbfbd);
        box-shadow: 25px 25px 50px #acacaa,
            -25px -25px 50px #fcfcfa;
        display: grid;
        grid-template-columns: repeat(4, 65px);
        gap: 20px;
    }
}

input[type="text"] {
    grid-column: span 4;
    height: 6rem;
    font-size: 3rem;
    color: #505050;
    border-radius: 1.5rem;
    padding: 0 1rem;
    text-align: end;
    background: #d4d4d2;
    margin-bottom: 1rem;
    box-shadow: inset 20px 20px 60px #b4b4b3,
        inset -20px -20px 60px #f4f4f2;

    &::placeholder {
        color: #505050;
    }
}